


.loginSection { 
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.outdoorContainer {
    background: url('https://dogs.origamid.dev/static/media/login.824d7d85.jpg') center center no-repeat ;
    background-size: cover;
}


.formContainer { 
  padding: 5%;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 
    
}


.title { 
    font-size: 3rem;
    font-family: "spectral";
    position: relative;
    line-height: 3rem;
    
}

.title::before {
    content: "";
    background-color: #fb1;
    width: 1.3rem;
    height: 1.4rem;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: 0;
  
   
} 

.subtitle {
    font-size: 2rem;
    margin: 2rem 0;
    
   
}

.subtitle::after {
    content: "";
    display: block;
    height: 10px;
    border-radius: 2px;
    background-color: #DDD;
    max-width: 4rem;
}






 .passwordLostLink {
    color: #999;
    border-bottom: 2px solid #999;
    display: inline-block;
    margin: 1.5rem 0;
   
 }

