header { 
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}


.content { 
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    
 
}



.profile {
    display: flex;
    align-items: center;
}

.profile::after { 
    content: " ";
    min-width:1.3rem;
    min-height: 1.3rem;
    margin: 0 0.3rem;
    background:url("https://dogs.origamid.dev/static/media/usuario.dc442992.svg") center center no-repeat;
    display: inline-block;
    
}
