@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); 


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Helvetica , Arial , sans-serif;
}


.container { 
    max-width: 800px;
    margin: 0 auto;
    padding: 1.3rem;
    
}



.feed {
    min-height: 100vh;
      
}

a { 
    text-decoration: none;
   
}


.animationLeft {
    opacity: 0;
    transform: translate(-30px);
    animation: animationDefault 0.3s ease forwards;
} 

.animationLoading {
    animation: animationLoading 0.8s ease forwards infinite;
}

.contentEnd {
    text-align: center;
    color: rgb(136, 136, 136);
    margin: 1rem;
}


.inputLabel {
    display: block;
    font-size: 1.2rem;
    margin: 0.6rem 0;
}

.inputForm {
    outline: none;
    border: 1px solid #eee;
    padding: 0.8rem;
    width: 100%;
    transition: 0.3s;
    background-color: #eee;
    border-radius: 5px;
   
}


.inputForm:hover {
    box-shadow: 0 0 0 3px #fea;
    background-color: #fff;

}

.defaultBtn {
    background-color: #fb1;
    outline: none;
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    min-width: 8rem;
    min-height: 40px;
    color: rgba(0, 0, 0 , 0.7);
    transition: 0.3s;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}



.defaultBtn:hover{ 
    
    box-shadow: 0 0 0 3px #fea;
 }

 
 .active { 
     background-color: #fb1;
    }
    



@keyframes animationDefault {
    to { 
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes animationLoading {
    to { 
        
        transform: rotate(360deg);
    }
}