* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Helvetica , Arial , sans-serif;
}


.container { 
    max-width: 800px;
    margin: 0 auto;
    padding: 1.3rem;
    
}



.feed {
    min-height: 100vh;
      
}

a { 
    text-decoration: none;
    color: black;
}


.animationLeft {
    opacity: 0;
    transform: translate(-30px);
    animation: animationDefault 0.3s ease forwards;
} 

.animationLoading {
    animation: animationLoading 0.8s ease forwards infinite;
}

.contentEnd {
    text-align: center;
    color: rgb(136, 136, 136);
    margin: 1rem;
}



@keyframes animationDefault {
    to { 
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes animationLoading {
    to { 
        
        transform: rotate(360deg);
    }
}